*{
    margin: 0px;
    padding: 0px;
}

/*Configuraçoes do topo do chat*/

.topo > .content-top{
    background-color: rgb(0, 0, 117);
    width: 800px;
    height: 70px;
    border-style: solid;
}

.topo > .content-top > h1{
    color: rgb(255, 255, 255);
    font-size: 1.7rem; 
    margin: 15px;  
}

/*Configurações da tela de histórico de mensagens*/

.container{
    background-color: rgb(228, 228, 255);
    width:800px;
    height:600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style:solid;
}

/**/

.historic{
    background-color: aliceblue;
    border-style: solid;
    border-width: 0.7px;
    width: 700px;
    height: 570px;
    margin-left: 50px;
    margin-right:50px;
    overflow: scroll;
}

/*Configurações textarea*/

.msg{
    background-color: rgb(15, 15, 75);
    display:flex;
    align-items: flex-start;
    width: 500px;
    height: 220px;
    border-style: solid;
}

.msg > textarea{
    margin-left: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.msg > button{
    background-color: rgb(93, 93, 247);
    border-style: none;
    color: white;
    font-size: large;
    width: 80px;
    height: 40px;
    margin-left: 10px;
    margin-top: 12px;
}

/*Configuração da formatação das mensagens e botões enviados*/

li{
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

.btn{
    display: flex;
    justify-content:flex-end;
    
}

li > .msg-texto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: solid;
    border-width: 0.6px;
    margin:8px;
    padding:10px;
    display:block;
}

li > .btn > .btn-editar{
    background-color: orange;
    padding: 5px;
    margin: 3px;
    border-style: none;
    color: white;
}

li > .btn > .btn-excluir{
    background-color: red;
    padding: 5px;
    margin: 3px;
    border-style: none;
    color: white;
}